
# Ignore from local build
settings.ini
Gemfile.lock
images/copied_from_nb/
_posts/2020-02-20-test.md
_posts/2022-08-29-TP120-python_lists.md
_posts/2022-08-30-bash-output.md
_posts/2022-08-30-vocab-test.md
_posts/2022-08-30-vocab-wk1.md
_pages/3D-Animation.html
_pages/AFA.md
_pages/Am-Lit.md
_pages/Physics.md
_pages/js table.html

# Mac finder files
.DS_Store

*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__

